* { margin: 0; padding: 0; outline: none; list-style: none; text-decoration: none; }

body {
    color: #4d4d4d;
    font-size: 12px;
    font-family: 'Ubuntu', arial, helvetica, serif;
    background-color: #fff;
}

a {
    transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -webkit-transition: color 300ms linear;
}

h1 { font-size: 22px; }
h2 { font-size: 18px; }
hr { border: 0; height: 1px; padding: 0; margin: 14px 0; color: #940000; background-color: #940000; }

img { vertical-align: top; }
img#busy { display: none; margin-left: 5px; }

label { font-weight: bold; }
table { border-spacing: 0; border-collapse: collapse; /*white-space: nowrap;*/ }

input, select, textarea { font-size: 100%; font-family: inherit; }
select { margin: inherit; }

input, select, textarea {
    color: #555;
    padding: 1px;
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;
}
input:focus, select:focus, textarea:focus { color: #212121; background-color: #dadada; border: 1px solid #999999; }

select option { padding: 0 3px; }

/** HEADER **/
div#header {
    min-width: 1000px;
    border-bottom: 2px solid #dd7700;

    background: -o-linear-gradient(#e3e7e8, #ffffff); /* Opera 11.10+ */
    background: -webkit-linear-gradient(#e3e7e8, #ffffff); /* Safari 5.1+, Chrome 10+ */
    background: -moz-linear-gradient(100% 100% 90deg, #ffffff, #e3e7e8); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3e7e8), to(#ffffff)); /* Safari 4-5, Chrome 1-9 */
}

div#header .content { width: 80%; margin: 0 auto; }

div#header .content h1 { float: left; margin: 0 14px; padding: 6px 0; }
div#header .content h1 > a { width: 250px; height: 100px; display: block; }

div#header .content #info { float: right; height: 112px; position: relative; white-space: nowrap; }
div#header .content #info p a { color: #888; font-weight: bold; }
div#header .content #info p a:hover { color: #940000; }
div#header .content #info p.data { position: absolute; right: 0; bottom: 3px; }
div#header .content #info p.greetings { position: absolute; right: 0; top: 3px; }

/* MENU */
div#header .content #menu { clear: both; height: 40px; border-top: 2px solid #dd7700;}
div#header .content #menu > ul { margin: 0 14px; }
div#header .content #menu > ul > li { float: left; position: relative; z-index: 99; }
div#header .content #menu > ul > li > a {
    display: block;
    color: #b0b0b0;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin-right: 22px;
    letter-spacing: -1px;
}
div#header .content #menu > ul > li > a.ativo,
div#header .content #menu > ul > li > a:hover {
    color: #888;
    height: 42px;
    background: transparent url('../images/menu-arrow.png') 50% 100% no-repeat;
}
div#header .content #menu > ul > li > div {
    left: 0;
    top: 40px;
    z-index: -1;
    display: none;
    min-width: 148px;
    position: absolute;
    background-color: #dd7700;
}
div#header .content #menu > ul > li > div ul { margin: 2px; padding: 10px 8px 2px; background-color: white; }
div#header .content #menu > ul > li > div ul li { margin: 4px 0; white-space: nowrap; }
div#header .content #menu > ul > li > div ul li a { color: #aaa; padding: 0 6px; font-size: 14px; font-weight: bold; }
div#header .content #menu > ul > li > div ul li a:hover {
    color: #940000;
    background: transparent url('../images/submenu-arrow.png') left center no-repeat;
}
/** HEADER **/

/** MODULE & VERSION **/
div#Module1 {
    top: 0;
    right: 0;
    position: fixed;
    font-size: 11px;
    padding: 2px 4px 3px 6px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #cd3333;
}

div#Module1 a {
    color: #fff;
}

div#Module2 {
    top: 0;
    left: 0;
    position: fixed;
    font-size: 11px;
    padding: 2px 6px 3px 4px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #dd7700;
}

div#Module2 a {
    color: #fff;
}

div#Version {
    right: 0;
    bottom: 0;
    color: white;
    position: fixed;
    font-size: 11px;
    padding: 3px 4px 2px 6px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #dd7700;
}
/** MODULE & VERSION **/

/** MAIN **/
div#main { width: 80%; margin: 0 auto; }
div#main .content { margin: 18px 14px; text-align: justify; }

div#main .content a { color: #777; font-weight: bold; }
div#main .content a:hover { text-decoration: underline; }
div#main .content > h1 { color: #940000; margin-bottom: 20px; }

div#main .content > span { float: right; }

/* Erros */
div#main .content > blockquote {
    width: 50%;
    padding: 5px;
    color: #940000;
    margin: 0 auto 20px;
    border: 1px dotted #888;
    background-color: #e8e8e8;
}
div#main .content > blockquote > p {
    font-weight: bold;
    padding: 2px 10px 2px 20px;
    background: transparent url('../images/submenu-arrow.png') 10px 50% no-repeat;
}
div#main .content > blockquote > a { float: right; margin-right: 2px; }
div#main .content > blockquote > a:hover { color: #940000; text-decoration: none; }
/* Erros */

/* Listagem */
div#main .content > table { width: 100%; border: 1px solid #888; border-collapse: collapse; }
div#main .content > table tr th { color: #333; padding: 0.45em; border: 1px dotted #888; background-color: #dedede; }
div#main .content > table tr td { color: #555; padding: 0.45em; border: 1px dotted #888; }
/* Listagem */

/* Formulários */
div#main .content > form {/* border: 1px solid black; */}
div#main .content > form > table:nth-child(even) { margin-top: 20px; }
div#main .content > form > table tr:not(:last-of-type) > td { padding: 0 5px 5px 0; }
/** MAIN **/

/** BORDERS **/
.corner-bottom-3, #menu > ul > li > div {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}
.corner-bottom-6 {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}
.corner-top-left-6 {
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
}
.corner-top-right-6 {
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
}
.corner-bottom-left-6 {
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
}
.corner-bottom-right-6 {
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
}
/** BORDERS **/

/** SHADOWS **/
.shadow-3 {
    box-shadow: 0 0 3px 1px #b9b9b9;
    -moz-box-shadow: 0 0 3px 1px #b9b9b9;
    -webkit-box-shadow: 0 0 3px 1px #b9b9b9;
}
.shadow-bottom-right-6, #menu > ul > li > div {
    box-shadow: 3px 3px 6px #b9b9b9;
    -moz-box-shadow: 3px 3px 6px #b9b9b9;
    -webkit-box-shadow: 3px 3px 6px #b9b9b9;
}
/** SHADOWS **/