* { margin: 0; padding: 0; outline: none; list-style: none; text-decoration: none; }

body {
    color: #4d4d4d;
    font-size: 12px;
    font-family: Arial, Helvetica;
    background-color: white;
}

hr { border: 0; height: 1px; padding: 0; margin: 14px 0; color: #940000; background-color: #940000; }

img { vertical-align: top; }
img#busy, img#loading { display: none; margin-left: 2px; }

label { font-weight: bold; vertical-align: middle; }
table { border-spacing: 0; border-collapse: collapse; }

input, select, textarea { font-size: 100%; font-family: inherit; }
select { margin: inherit; }

input, select, textarea {
    color: #555;
    padding: 1px;
    vertical-align: middle;
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;
}
input:focus, select:focus, textarea:focus { color: #212121; background-color: #dadada; border: 1px solid #999999; }

select option { padding: 0 3px; }

/** MAIN **/
form {/* border: 1px solid black; */}

form > table tr > td { padding: 0 0 5px 5px; }
form > table tr:last-of-type > td { padding: 0 0 0 5px; }

form > table tr > td span { font-weight: bold; vertical-align: middle; }
/** MAIN **/



input#uf { width: 30px; } /* 2 */

input#cep, input#numero { width: 75px; } /* 9-10 */

input#logradouro, input#complemento, input#bairro, input#nome, input#razaoSocial, input#nomeFantasia, input#site { width: 280px; } /* 50 */

input#dataAdmissao, input#dataDemissao, input#dataRecebimento, input#dataInicial, input#dataFinal, input#custoReal,
input#custoPrevisto, input#receitaReal, input#receitaEsperada, input#dataNascimento, input#celular, input#fone, input#fax,
input#cpfoucnpj, input#cnpj, input#rg, input#cpf, input#valor, input#login, input#senha, input#checkPass { width: 130px; } /* 18-20 */

input#email, input#cidade { width: 180px; } /* 30-35 */

input#campanha,
textarea#objetivo { width: 374px; }

textarea#objetivo { height: 60px; }
textarea#descricao { width: 279px; height: 60px; }
textarea#observacao { width: 541px; height: 60px; }

textarea#texto { width: 517px; height: 200px; }

select { width: 134px; }