* { margin: 0; padding: 0; outline: none; list-style: none; text-decoration: none; }

body {
    color: #4d4d4d;
    font-size: 12px;
    font-family: Arial, Helvetica;
    background-color: white;
}

h1 { font-size: 22px; }
h2 { font-size: 18px; }

a {
    transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -webkit-transition: color 300ms linear;
}

/** MENU */
div#menu {
    height: 30px;
    background-color: #d9d9d9;
    border-top: 3px solid #940000;
    border-bottom: 1px solid #940000;
}
div#menu > ul { margin: 0 16px; }
div#menu > ul > li { float: left; position: relative; z-index: 99; }
div#menu > ul > li > a {
    display: block;
    color: #888888;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 26px;
    letter-spacing: -1px;
}
div#menu > ul > li > a.ativo,
div#menu > ul > li > a:hover {
    color: #555;
    height: 31px;
    background: #d9d9d9 url('../images/admin-menu-arrow.png') 50% 100% no-repeat;
}
div#menu > ul > li > div {
    left: 0;
    top: 30px;
    z-index: -1;
    display: none;
    min-width: 128px;
    position: absolute;
    background-color: #940000;
    box-shadow: 3px 3px 6px #b9b9b9;
    -moz-box-shadow: 3px 3x 6px #b9b9b9;
    -webkit-box-shadow: 3px 3px 6px #b9b9b9;
}
div#menu > ul > li > div ul { margin: 1px; padding: 10px 8px 2px; background-color: white; }
div#menu > ul > li > div ul li { margin: 4px 0; white-space: nowrap; }
div#menu > ul > li > div ul li a { color: #555; padding: 0 6px; font-size: 14px; }
div#menu > ul > li > div ul li a:hover {
    color: #940000;
    background: transparent url('../images/submenu-arrow.png') left center no-repeat;
}
/** MENU */

/** MAIN */
div#main { width: 80%; margin: 3em auto; }
div#main .content { text-align: justify; }
div#main .content h1 { color: #940000; margin-bottom: 15px; }

div#main .content > blockquote { margin-bottom: 20px; }
/** MAIN */